#experience .box {
    border: 2px solid rgb(19, 18, 18);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #ed1eb6;
    margin-bottom: 20px;
    width: 85%;
}

#exp-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp {
    padding: 34px;
}

#exp-box img {
    height: 124px;
}

@media only screen and (max-width:951px){

    #experience .h-primary {
        margin-left: -93px;
    }
    #experience .box {
        margin-left: 200px;
    }
    #experience .box {
        border: 2px solid rgb(19, 18, 18);
        padding: 34px;
        margin: 2px 153px;
        border-radius: 28px;
        background: #ed1eb6;
        margin-bottom: 20px;
        width: 85%;
    }
}
